<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Fishoracle.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.SearchImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/fishoracle/Search</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
    <web-resource-name>fishoracle</web-resource-name>
    <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>fishrole</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>fish oracle</realm-name>
  </login-config>

  <security-role>
    <description> Test role </description>
    <role-name> fishrole </role-name>
   </security-role>

</web-app>
