<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Fishoracle.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.SearchImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/fishoracle/Search</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>EnsemblDBsService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.EnsemblDBsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>EnsemblDBsService</servlet-name>
    <url-pattern>/fishoracle/EnsemblDBsService</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>SegmentService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.SegmentServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SegmentService</servlet-name>
    <url-pattern>/fishoracle/SegmentService</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>PlatformService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.PlatformServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PlatformService</servlet-name>
    <url-pattern>/fishoracle/PlatformService</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>PropertyService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.PropertyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PropertyService</servlet-name>
    <url-pattern>/fishoracle/PropertyService</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>OrganService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.OrganServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrganService</servlet-name>
    <url-pattern>/fishoracle/OrganService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StudyService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.StudyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>StudyService</servlet-name>
    <url-pattern>/fishoracle/StudyService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProjectService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.ProjectServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjectService</servlet-name>
    <url-pattern>/fishoracle/ProjectService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProjectAccessService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.ProjectAccessServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ProjectAccessService</servlet-name>
    <url-pattern>/fishoracle/ProjectAccessService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/fishoracle/UserService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>adminservice</servlet-name>
    <servlet-class>de.unihamburg.zbh.fishoracle.server.AdminServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>adminservice</servlet-name>
    <url-pattern>/fishoracle/AdminService</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <!-- max size of the upload request -->
    <param-name>maxSize</param-name>
    <param-value>3145728</param-value>
  </context-param>
  <context-param>
    <!-- Useful in development mode to slow down the uploads in fast networks.
         Put the number of milliseconds to sleep in each block received in the server.
         false or 0, means don't use slow uploads  -->
    <param-name>slowUploads</param-name>
    <param-value>0</param-value>
  </context-param>

  <servlet>
    <servlet-name>fileUploadServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>de.unihamburg.zbh.fishoracle.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
</web-app>
